.error {
	color: red;
	font-size: 18px;
	font-weight: bold;
}
.price {
	font-size: 10px;
}
.success {
	color: green;
	font-size: 18px;
	font-weight: bold;
}
/*label {
	display: inline-block;
	margin-right: 5px;
	width: 20%;
}

.text{
	width: 40%;
}*/

p[id*="no"]{
	color:red;
	float:left;
	font-weight:bold;
}

label{
	font-weight:bold;
}

.mainWrraper{
	margin-right: 5%;
}

select{
	width:100%;
	text-align:right;
}


