.error {
	color: red;
	font-size: 18px;
	font-weight: bold;
}

.success {
	color: green;
	font-size: 18px;
	font-weight: bold;
}
label {
	display: inline-block;
	margin-right: 5px;
	width: 20%;
}

.text{
	width: 40%;
}
