.error {
	color: red;
	font-size: 18px;
	font-weight: bold;
}
.price {
	font-size: 10px;
}
.success {
	color: green;
	font-size: 18px;
	font-weight: bold;
}

p[id*="no"]{
	color:red;
	float:left;
	font-weight:bold;
}

label{
	font-weight:bold;
}

.mainWrraper{
	margin-right: 5%;
}
